[submodule "linguine-node"]
	path = linguine-node
	url = http://github.com/pastafarians/linguine-node
[submodule "linguine-python"]
	path = linguine-python
	url = http://github.com/pastafarians/linguine-python
