[Service]
WorkingDirectory=/home/linguini/linguine/scripts
ExecStart=/home/linguini/.pyenv/versions/3.6.8/bin/python -u linguine-notifier.py
Restart=always
StandardOutput=syslog
SyslogIdentifier=linguine-notifier
User=linguini
Group=nobody

[Install]
WantedBy=multi-user.target
