[Service]
WorkingDirectory=/home/linguini/linguine-node
ExecStart=/home/linguini/.nodenv/versions/10.16.0/bin/node /home/linguini/linguine-node/bin/www
Restart=always
StandardOutput=syslog
SyslogIdentifier=linguine-node
User=linguini
Group=nobody

[Install]
WantedBy=multi-user.target
